<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <form action = '' method = 'post' novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.smiles.label }}
            <br><br>
            {{ form.smiles(rows='11', cols='68', style='resize:none') }}
            <br>
            {% for error in form.smiles.errors %}
                <span style = 'color:red;'>
                    {{ error }}
                </span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit()}}
        </p>
    </form>

    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>

{% endblock %}