<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>

    <b>Reset Your Password</b>

    <form action = '' method = 'post'>

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size = 32) }}
            <br>
            {% for error in form.password.errors %}
                <span style="color: red;">
                    {{ error }}
                </span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_conf.label }}
            <br>
            {{ form.password_conf(size = 32) }}
            <br>
            {% for error in form.password_conf.errors %}
                <span style="color: red;">
                    {{ error }}
                </span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>

    </form>

{% endblock %}